.container_weather {
	display: flex;
	flex-direction: column;
	padding: 2em;
	align-items: center;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.container_avatar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
}

.container_welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

.max_skycon {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

/* .bottom_pin {
	display: flex;
	position: absolute;
	justify-content: center;
} */
